/* Main login container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 100vh;
}

.screen {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(243, 238, 238, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px);
  position: relative;
  margin-right: 2rem;
  height: fit-content;
  width: 350px;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}
.form-group span {
  display: flex;
}


.login-box {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(243, 238, 238, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px);
}

.login-title {
  text-align: center;
  color: #03112f;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 6px;
  color: #141111;
  font-weight: 500;
}


.login-form input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #173b8a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1847e0;
}

.signup-prompt {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.signup-link {
  color: #033163;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
}

.signup-link:hover {
  color: #05284e;
}

.login-logo {
  width: 55px;
  margin: 0 auto 20px auto;
  display: block;
  filter: brightness(2);
}


.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  padding-left: 10px;
}

.signup-link:hover {
  text-decoration: underline;
}

@media (max-width: 320px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .screen {
   
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 238, 238, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
    margin: 1.5rem;
    height: fit-content;
   
  }
  .login-form input {
    width: 100%;
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
  }
  .login-button {
    width: 100%;
    padding: 4px;
    background-color: #173b8a;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
}
@media (max-width: 375px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .screen {
   
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 238, 238, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
    margin: 1.5rem;
    height: fit-content;
   
  }
  .login-form input {
    width: 100%;
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
  }
  .login-button {
    width: 100%;
    padding: 4px;
    background-color: #173b8a;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
}
@media (max-width: 425px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .screen {
   
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 238, 238, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
    margin: 1.5rem;
    height: fit-content;
   
  }
  .login-form input {
    width: 100%;
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
  }
  .login-button {
    width: 100%;
    padding: 4px;
    background-color: #173b8a;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 768px) {
.login-form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}  .login-button {
    width: 100%;
    padding: 5px;
    background-color: #173b8a;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #141111;
    font-weight: 500;
}



}


@media (max-width: 1024px) {.login-form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}  .login-button {
    width: 100%;
    padding: 5px;
    background-color: #173b8a;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #141111;
    font-weight: 500;
}}
